<div class="row">
    <div class="small-10 large-8 small-centered columns">
        <form>
            <fieldset>
                <legend>Registro de Artículos</legend>

                <div class="row">
                    <div class="large-6 columns">
                        <label>Artículo</label>
                        <input type="text" placeholder="Libro, Decoración, etc...">
                    </div>
                    <div class="large-6 columns">
                        <label>Precio</label>
                        <input type="text" placeholder="Su costo">
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <button class="round expand">Enviar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>