<div class="row">
    <div class="small-10 large-8 small-centered columns">
        <form novalidate>
            <fieldset>
                <legend>Registro de Artículos</legend>

                <div class="row">
                    <div class="large-6 columns">
                        <label>Artículo</label>
                        <input
                            ng-model="article.name"
                            placeholder="Libro, Decoración, etc..."
                            type="text"/>
                    </div>
                    <div class="large-6 columns">
                        <label>Precio</label>
                        <input
                            ng-model="article.price"
                            placeholder="Su costo"
                            type="text"/>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <button
                            class="round expand"
                            ng-click="update(article)">
                            Enviar
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="row">
    <div class="small-10 large-8 small-centered columns">
        <pre>form = {{article | json}}</pre>
        <pre>master = {{master | json}}</pre>
    </div>
</div>