<div class="row">
    <div class="large-12 columns" ng-controller="homeCtrlMoS">
        <!-- <input type="text" ng-model="search">
        <input type="text" ng-model="search.name">
        <input type="text" ng-model="search.character"> -->
        <input type="text" ng-model="search.$">
        <table>
            <tr ng-repeat="actor in ManOfSteel.cast | filter: search">
                <td>{{ actor.name }}</td>
                <td>{{ actor.character }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <!-- <input type="text" ng-model="data.message"> -->
        <div ng-controller="homeCtrl0">
            <input type="text" ng-model="data.message">
            <h2>{{data.message}}</h2>
        </div>
        <div ng-controller="homeCtrl0">
            <input type="text" ng-model="data.message">
            <h2>{{data.message | reverse }}</h2>
        </div>
    </div>
</div>