<div class="row">
    <div class="large-12 columns">
        <div ng-controller="InvoiceCtrl">
            <strong>Invoice:</strong>
            <br>
            <br>
            <table>
                <tr>
                    <td>Quantity</td>
                    <td>Cost</td>
                    <td>Discount</td>
                </tr>
                <tr>
                    <td>
                        <input
                            ng-model="qty" ng-pattern="/\d+/"
                            min="0"
                            required
                            step="1"
                            type="number">
                    </td>
                    <td>
                        <input ng-model="cost" required type="number">
                    </td>
                    <td>
                        <input ng-model="discount" type="checkbox" >
                    </td>
                </tr>
            </table>
            <hr>
            <strong>Total:</strong> {{qty * cost | currency}}
        </div>
    </div>
</div>